<ion-view>
    <ion-nav-title>Início</ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-checkmark-circle" menu-toggle="right"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Atualizando" on-refresh="doRefresh()">
        </ion-refresher>


        <div id="leaflet-map"></div>


        <div ng-show="buscandoServicos">
            <button class="button button-block button-dark" ng-click="ficarDisponivel()">Ficar disponivel</button>

            <div class="row">
                <div class="col">
                    <div style="border-color: #ff00004f; border-bottom-style: solid; margin-bottom: -6px; border-bottom-width: 1px;">
                        <p style="text-align:center; margin: 0; color: #ff0000d9;">Existem 6 usúarios procurando por serviços neste momento </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="card home" ng-show="!buscandoServicos">

            <div class="item item-text-wrap center item-user">
                <div class="row font-xs">
                    <div class="col no-padding" style="text-align: left;"><b>Nome</b></div>
                    <div class="col no-padding" style="text-align: center;"><b>{{rotas.final.nome}}</b></div>
                </div>
            </div>
            <div class="item item-text-wrap center item-user">
                <div class="row font-xs">
                    <div class="col no-padding" style="text-align: left;"><b>Endereço Atual</b></div>
                    <div class="col no-padding" style="text-align: center;"><b>{{rotas.final.endereco}}</b></div>
                </div>
            </div>
            <div class="item item-text-wrap center item-user">
                <div class="row font-xs">
                    <div class="col no-padding" style="text-align: left;"><b>Tempo estimado</b></div>
                    <div class="col no-padding" style="text-align: center;"><b>{{rotas.tempo_estimado/60 | number:0}}:{{rotas.tempo_estimado%60 | number:0}}</b></div>
                </div>
            </div>
            <div class="item item-text-wrap center item-user">
                <div class="row font-xs">
                    <div class="col no-padding" style="text-align: left;"><b>Distância</b></div>
                    <div class="col no-padding" style="text-align: center;"><b>{{rotas.distancia/1000 | number:2}} Km</b></div>
                </div>
            </div>
            <button class="button button-block button-dark" ng-click="cancelarServico(corridaAtual.id)">Cancelar Serviço</button>
        </div>
    </ion-content>
</ion-view>